[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Netsurf Web Browser
Name[ar]=Netsurf Web Browser
Name[ast]=Netsurf Web Browser
Name[be]=Netsurf Web Browser
Name[bg]=Netsurf Web Browser
Name[bn]=Netsurf Web Browser
Name[br]=Netsurf Web Browser
Name[bs]=Netsurf Web Browser
Name[ca]=Netsurf Web Browser
Name[cs]=Netsurf Web Browser
Name[da]=Netsurf Web Browser
Name[de]=Netsurf Web Browser
Name[dz]=Netsurf Web Browser
Name[el]=Netsurf Web Browser
Name[eo]=Netsurf Web Browser
Name[es]=Netsurf Web Browser
Name[et]=Netsurf Web Browser
Name[eu]=Netsurf Web Browser
Name[fi]=Netsurf Web Browser
Name[fr]=Netsurf Web Browser
Name[ga]=Netsurf Web Browser
Name[gl]=Netsurf Web Browser
Name[gu]=Netsurf Web Browser
Name[he]=Netsurf Web Browser
Name[hi]=Netsurf Web Browser
Name[hr]=Netsurf Web Browser
Name[hu]=Netsurf Web Browser
Name[id]=Netsurf Web Browser
Name[it]=Netsurf Web Browser
Name[ja]=Netsurf Web Browser
Name[ka]=Netsurf Web Browser
Name[kk]=Netsurf Web Browser
Name[km]=Netsurf Web Browser
Name[ko]=Netsurf Web Browser
Name[ku]=Netsurf Web Browser
Name[lt]=Netsurf Web Browser
Name[mk]=Netsurf Web Browser
Name[ml]=Netsurf Web Browser
Name[mr]=Netsurf Web Browser
Name[nb]=Netsurf Web Browser
Name[ne]=Netsurf Web Browser
Name[nl]=Netsurf Web Browser
Name[nn]=Netsurf Web Browser
Name[pa]=Netsurf Web Browser
Name[pl]=Netsurf Web Browser
Name[pt]=Netsurf Web Browser
Name[pt_BR]=Netsurf Web Browser
Name[ro]=Netsurf Web Browser
Name[ru]=Netsurf Web Browser
Name[sk]=Netsurf Web Browser
Name[sq]=Netsurf Web Browser
Name[sv]=Netsurf Web Browser
Name[ta]=Netsurf Web Browser
Name[th]=Netsurf Web Browser
Name[tl]=Netsurf Web Browser
Name[tr]=Netsurf Web Browser
Name[uk]=Netsurf Web Browser
Name[vi]=Netsurf Web Browser
Name[wo]=Netsurf Web Browser
Name[zh_CN]=Netsurf Web Browser
Name[zh_TW]=Netsurf Web Browser
Icon=/usr/share/pixmaps/netsurf.xpm
Exec=/usr/bin/netsurf-gtk
Terminal=false
Categories=X-Debian-Applications-Network-Web-Browsing;
