[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=TiMidity++
Name[ar]=TiMidity++
Name[ast]=TiMidity++
Name[be]=TiMidity++
Name[bg]=TiMidity++
Name[bn]=TiMidity++
Name[br]=TiMidity++
Name[bs]=TiMidity++
Name[ca]=TiMidity++
Name[cs]=TiMidity++
Name[da]=TiMidity++
Name[de]=TiMidity++
Name[dz]=TiMidity++
Name[el]=TiMidity++
Name[eo]=TiMidity++
Name[es]=TiMidity++
Name[et]=TiMidity++
Name[eu]=TiMidity++
Name[fi]=TiMidity++
Name[fr]=TiMidity++
Name[ga]=TiMidity++
Name[gl]=TiMidity++
Name[gu]=TiMidity++
Name[he]=TiMidity++
Name[hi]=TiMidity++
Name[hr]=TiMidity++
Name[hu]=TiMidity++
Name[id]=TiMidity++
Name[it]=TiMidity++
Name[ja]=TiMidity++
Name[ka]=TiMidity++
Name[kk]=TiMidity++
Name[km]=TiMidity++
Name[ko]=TiMidity++
Name[ku]=TiMidity++
Name[lt]=TiMidity++
Name[mk]=TiMidity++
Name[ml]=TiMidity++
Name[mr]=TiMidity++
Name[nb]=TiMidity++
Name[ne]=TiMidity++
Name[nl]=TiMidity++
Name[nn]=TiMidity++
Name[pa]=TiMidity++
Name[pl]=TiMidity++
Name[pt]=TiMidity++
Name[pt_BR]=TiMidity++
Name[ro]=TiMidity++
Name[ru]=TiMidity++
Name[sk]=TiMidity++
Name[sq]=TiMidity++
Name[sv]=TiMidity++
Name[ta]=TiMidity++
Name[th]=TiMidity++
Name[tl]=TiMidity++
Name[tr]=TiMidity++
Name[uk]=TiMidity++
Name[vi]=TiMidity++
Name[wo]=TiMidity++
Name[zh_CN]=TiMidity++
Name[zh_TW]=TiMidity++
Icon=/usr/share/pixmaps/timidity.xpm
Exec=timidity -ia
Terminal=false
Categories=X-Debian-Applications-Sound;
