[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xpdf
Name[ar]=Xpdf
Name[ast]=Xpdf
Name[be]=Xpdf
Name[bg]=Xpdf
Name[bn]=Xpdf
Name[br]=Xpdf
Name[bs]=Xpdf
Name[ca]=Xpdf
Name[cs]=Xpdf
Name[da]=Xpdf
Name[de]=Xpdf
Name[dz]=Xpdf
Name[el]=Xpdf
Name[eo]=Xpdf
Name[es]=Xpdf
Name[et]=Xpdf
Name[eu]=Xpdf
Name[fi]=Xpdf
Name[fr]=Xpdf
Name[ga]=Xpdf
Name[gl]=Xpdf
Name[gu]=Xpdf
Name[he]=Xpdf
Name[hi]=Xpdf
Name[hr]=Xpdf
Name[hu]=Xpdf
Name[id]=Xpdf
Name[it]=Xpdf
Name[ja]=Xpdf
Name[ka]=Xpdf
Name[kk]=Xpdf
Name[km]=Xpdf
Name[ko]=Xpdf
Name[ku]=Xpdf
Name[lt]=Xpdf
Name[mk]=Xpdf
Name[ml]=Xpdf
Name[mr]=Xpdf
Name[nb]=Xpdf
Name[ne]=Xpdf
Name[nl]=Xpdf
Name[nn]=Xpdf
Name[pa]=Xpdf
Name[pl]=Xpdf
Name[pt]=Xpdf
Name[pt_BR]=Xpdf
Name[ro]=Xpdf
Name[ru]=Xpdf
Name[sk]=Xpdf
Name[sq]=Xpdf
Name[sv]=Xpdf
Name[ta]=Xpdf
Name[th]=Xpdf
Name[tl]=Xpdf
Name[tr]=Xpdf
Name[uk]=Xpdf
Name[vi]=Xpdf
Name[wo]=Xpdf
Name[zh_CN]=Xpdf
Name[zh_TW]=Xpdf
Comment=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ar]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ast]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[be]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[bg]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[bn]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[br]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[bs]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ca]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[cs]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[da]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[de]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[dz]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[el]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[eo]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[es]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[et]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[eu]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[fi]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[fr]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ga]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[gl]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[gu]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[he]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[hi]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[hr]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[hu]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[id]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[it]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ja]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ka]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[kk]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[km]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ko]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ku]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[lt]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[mk]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ml]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[mr]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[nb]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ne]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[nl]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[nn]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[pa]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[pl]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[pt]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[pt_BR]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ro]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ru]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[sk]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[sq]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[sv]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[ta]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[th]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[tl]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[tr]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[uk]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[vi]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[wo]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[zh_CN]=Xpdf: Portable Document Format (PDF) file viewer for X
Comment[zh_TW]=Xpdf: Portable Document Format (PDF) file viewer for X
Icon=/usr/share/pixmaps/xpdf.xpm
Exec=/usr/bin/xpdf
Terminal=false
Categories=X-Debian-Applications-Viewers;
