[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Debian Reference
Name[ar]=Debian Reference
Name[ast]=Debian Reference
Name[be]=Debian Reference
Name[bg]=Debian Reference
Name[bn]=Debian Reference
Name[br]=Debian Reference
Name[bs]=Debian Reference
Name[ca]=Debian Reference
Name[cs]=Debian Reference
Name[da]=Debian Reference
Name[de]=Debian Reference
Name[dz]=Debian Reference
Name[el]=Debian Reference
Name[eo]=Debian Reference
Name[es]=Debian Reference
Name[et]=Debian Reference
Name[eu]=Debian Reference
Name[fi]=Debian Reference
Name[fr]=Debian Reference
Name[ga]=Debian Reference
Name[gl]=Debian Reference
Name[gu]=Debian Reference
Name[he]=Debian Reference
Name[hi]=Debian Reference
Name[hr]=Debian Reference
Name[hu]=Debian Reference
Name[id]=Debian Reference
Name[it]=Debian Reference
Name[ja]=Debian Reference
Name[ka]=Debian Reference
Name[kk]=Debian Reference
Name[km]=Debian Reference
Name[ko]=Debian Reference
Name[ku]=Debian Reference
Name[lt]=Debian Reference
Name[mk]=Debian Reference
Name[ml]=Debian Reference
Name[mr]=Debian Reference
Name[nb]=Debian Reference
Name[ne]=Debian Reference
Name[nl]=Debian Reference
Name[nn]=Debian Reference
Name[pa]=Debian Reference
Name[pl]=Debian Reference
Name[pt]=Debian Reference
Name[pt_BR]=Debian Reference
Name[ro]=Debian Reference
Name[ru]=Debian Reference
Name[sk]=Debian Reference
Name[sq]=Debian Reference
Name[sv]=Debian Reference
Name[ta]=Debian Reference
Name[th]=Debian Reference
Name[tl]=Debian Reference
Name[tr]=Debian Reference
Name[uk]=Debian Reference
Name[vi]=Debian Reference
Name[wo]=Debian Reference
Name[zh_CN]=Debian Reference
Name[zh_TW]=Debian Reference
Exec=/usr/bin/debian-reference
Terminal=false
Categories=X-Debian-Help;
