[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ruby (irb1.9.1)
Name[ar]=Ruby (irb1.9.1)
Name[ast]=Ruby (irb1.9.1)
Name[be]=Ruby (irb1.9.1)
Name[bg]=Ruby (irb1.9.1)
Name[bn]=Ruby (irb1.9.1)
Name[br]=Ruby (irb1.9.1)
Name[bs]=Ruby (irb1.9.1)
Name[ca]=Ruby (irb1.9.1)
Name[cs]=Ruby (irb1.9.1)
Name[da]=Ruby (irb1.9.1)
Name[de]=Ruby (irb1.9.1)
Name[dz]=Ruby (irb1.9.1)
Name[el]=Ruby (irb1.9.1)
Name[eo]=Ruby (irb1.9.1)
Name[es]=Ruby (irb1.9.1)
Name[et]=Ruby (irb1.9.1)
Name[eu]=Ruby (irb1.9.1)
Name[fi]=Ruby (irb1.9.1)
Name[fr]=Ruby (irb1.9.1)
Name[ga]=Ruby (irb1.9.1)
Name[gl]=Ruby (irb1.9.1)
Name[gu]=Ruby (irb1.9.1)
Name[he]=Ruby (irb1.9.1)
Name[hi]=Ruby (irb1.9.1)
Name[hr]=Ruby (irb1.9.1)
Name[hu]=Ruby (irb1.9.1)
Name[id]=Ruby (irb1.9.1)
Name[it]=Ruby (irb1.9.1)
Name[ja]=Ruby (irb1.9.1)
Name[ka]=Ruby (irb1.9.1)
Name[kk]=Ruby (irb1.9.1)
Name[km]=Ruby (irb1.9.1)
Name[ko]=Ruby (irb1.9.1)
Name[ku]=Ruby (irb1.9.1)
Name[lt]=Ruby (irb1.9.1)
Name[mk]=Ruby (irb1.9.1)
Name[ml]=Ruby (irb1.9.1)
Name[mr]=Ruby (irb1.9.1)
Name[nb]=Ruby (irb1.9.1)
Name[ne]=Ruby (irb1.9.1)
Name[nl]=Ruby (irb1.9.1)
Name[nn]=Ruby (irb1.9.1)
Name[pa]=Ruby (irb1.9.1)
Name[pl]=Ruby (irb1.9.1)
Name[pt]=Ruby (irb1.9.1)
Name[pt_BR]=Ruby (irb1.9.1)
Name[ro]=Ruby (irb1.9.1)
Name[ru]=Ruby (irb1.9.1)
Name[sk]=Ruby (irb1.9.1)
Name[sq]=Ruby (irb1.9.1)
Name[sv]=Ruby (irb1.9.1)
Name[ta]=Ruby (irb1.9.1)
Name[th]=Ruby (irb1.9.1)
Name[tl]=Ruby (irb1.9.1)
Name[tr]=Ruby (irb1.9.1)
Name[uk]=Ruby (irb1.9.1)
Name[vi]=Ruby (irb1.9.1)
Name[wo]=Ruby (irb1.9.1)
Name[zh_CN]=Ruby (irb1.9.1)
Name[zh_TW]=Ruby (irb1.9.1)
Exec=/usr/bin/irb1.9.1
Terminal=true
Categories=X-Debian-Applications-Programming;
