[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Minecraft Pi
Name[ar]=Minecraft Pi
Name[ast]=Minecraft Pi
Name[be]=Minecraft Pi
Name[bg]=Minecraft Pi
Name[bn]=Minecraft Pi
Name[br]=Minecraft Pi
Name[bs]=Minecraft Pi
Name[ca]=Minecraft Pi
Name[cs]=Minecraft Pi
Name[da]=Minecraft Pi
Name[de]=Minecraft Pi
Name[dz]=Minecraft Pi
Name[el]=Minecraft Pi
Name[eo]=Minecraft Pi
Name[es]=Minecraft Pi
Name[et]=Minecraft Pi
Name[eu]=Minecraft Pi
Name[fi]=Minecraft Pi
Name[fr]=Minecraft Pi
Name[ga]=Minecraft Pi
Name[gl]=Minecraft Pi
Name[gu]=Minecraft Pi
Name[he]=Minecraft Pi
Name[hi]=Minecraft Pi
Name[hr]=Minecraft Pi
Name[hu]=Minecraft Pi
Name[id]=Minecraft Pi
Name[it]=Minecraft Pi
Name[ja]=Minecraft Pi
Name[ka]=Minecraft Pi
Name[kk]=Minecraft Pi
Name[km]=Minecraft Pi
Name[ko]=Minecraft Pi
Name[ku]=Minecraft Pi
Name[lt]=Minecraft Pi
Name[mk]=Minecraft Pi
Name[ml]=Minecraft Pi
Name[mr]=Minecraft Pi
Name[nb]=Minecraft Pi
Name[ne]=Minecraft Pi
Name[nl]=Minecraft Pi
Name[nn]=Minecraft Pi
Name[pa]=Minecraft Pi
Name[pl]=Minecraft Pi
Name[pt]=Minecraft Pi
Name[pt_BR]=Minecraft Pi
Name[ro]=Minecraft Pi
Name[ru]=Minecraft Pi
Name[sk]=Minecraft Pi
Name[sq]=Minecraft Pi
Name[sv]=Minecraft Pi
Name[ta]=Minecraft Pi
Name[th]=Minecraft Pi
Name[tl]=Minecraft Pi
Name[tr]=Minecraft Pi
Name[uk]=Minecraft Pi
Name[vi]=Minecraft Pi
Name[wo]=Minecraft Pi
Name[zh_CN]=Minecraft Pi
Name[zh_TW]=Minecraft Pi
Comment=Fun with blocks
Comment[ar]=Fun with blocks
Comment[ast]=Fun with blocks
Comment[be]=Fun with blocks
Comment[bg]=Fun with blocks
Comment[bn]=Fun with blocks
Comment[br]=Fun with blocks
Comment[bs]=Fun with blocks
Comment[ca]=Fun with blocks
Comment[cs]=Fun with blocks
Comment[da]=Fun with blocks
Comment[de]=Fun with blocks
Comment[dz]=Fun with blocks
Comment[el]=Fun with blocks
Comment[eo]=Fun with blocks
Comment[es]=Fun with blocks
Comment[et]=Fun with blocks
Comment[eu]=Fun with blocks
Comment[fi]=Fun with blocks
Comment[fr]=Fun with blocks
Comment[ga]=Fun with blocks
Comment[gl]=Fun with blocks
Comment[gu]=Fun with blocks
Comment[he]=Fun with blocks
Comment[hi]=Fun with blocks
Comment[hr]=Fun with blocks
Comment[hu]=Fun with blocks
Comment[id]=Fun with blocks
Comment[it]=Fun with blocks
Comment[ja]=Fun with blocks
Comment[ka]=Fun with blocks
Comment[kk]=Fun with blocks
Comment[km]=Fun with blocks
Comment[ko]=Fun with blocks
Comment[ku]=Fun with blocks
Comment[lt]=Fun with blocks
Comment[mk]=Fun with blocks
Comment[ml]=Fun with blocks
Comment[mr]=Fun with blocks
Comment[nb]=Fun with blocks
Comment[ne]=Fun with blocks
Comment[nl]=Fun with blocks
Comment[nn]=Fun with blocks
Comment[pa]=Fun with blocks
Comment[pl]=Fun with blocks
Comment[pt]=Fun with blocks
Comment[pt_BR]=Fun with blocks
Comment[ro]=Fun with blocks
Comment[ru]=Fun with blocks
Comment[sk]=Fun with blocks
Comment[sq]=Fun with blocks
Comment[sv]=Fun with blocks
Comment[ta]=Fun with blocks
Comment[th]=Fun with blocks
Comment[tl]=Fun with blocks
Comment[tr]=Fun with blocks
Comment[uk]=Fun with blocks
Comment[vi]=Fun with blocks
Comment[wo]=Fun with blocks
Comment[zh_CN]=Fun with blocks
Comment[zh_TW]=Fun with blocks
Icon=/usr/share/pixmaps/minecraft-pi.png
Exec=/usr/bin/minecraft-pi
Terminal=false
Categories=X-Debian-Games;
