[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=wpa_supplicant user interface
Name[ar]=wpa_supplicant user interface
Name[ast]=wpa_supplicant user interface
Name[be]=wpa_supplicant user interface
Name[bg]=wpa_supplicant user interface
Name[bn]=wpa_supplicant user interface
Name[br]=wpa_supplicant user interface
Name[bs]=wpa_supplicant user interface
Name[ca]=wpa_supplicant user interface
Name[cs]=wpa_supplicant user interface
Name[da]=wpa_supplicant user interface
Name[de]=wpa_supplicant user interface
Name[dz]=wpa_supplicant user interface
Name[el]=wpa_supplicant user interface
Name[eo]=wpa_supplicant user interface
Name[es]=wpa_supplicant user interface
Name[et]=wpa_supplicant user interface
Name[eu]=wpa_supplicant user interface
Name[fi]=wpa_supplicant user interface
Name[fr]=wpa_supplicant user interface
Name[ga]=wpa_supplicant user interface
Name[gl]=wpa_supplicant user interface
Name[gu]=wpa_supplicant user interface
Name[he]=wpa_supplicant user interface
Name[hi]=wpa_supplicant user interface
Name[hr]=wpa_supplicant user interface
Name[hu]=wpa_supplicant user interface
Name[id]=wpa_supplicant user interface
Name[it]=wpa_supplicant user interface
Name[ja]=wpa_supplicant user interface
Name[ka]=wpa_supplicant user interface
Name[kk]=wpa_supplicant user interface
Name[km]=wpa_supplicant user interface
Name[ko]=wpa_supplicant user interface
Name[ku]=wpa_supplicant user interface
Name[lt]=wpa_supplicant user interface
Name[mk]=wpa_supplicant user interface
Name[ml]=wpa_supplicant user interface
Name[mr]=wpa_supplicant user interface
Name[nb]=wpa_supplicant user interface
Name[ne]=wpa_supplicant user interface
Name[nl]=wpa_supplicant user interface
Name[nn]=wpa_supplicant user interface
Name[pa]=wpa_supplicant user interface
Name[pl]=wpa_supplicant user interface
Name[pt]=wpa_supplicant user interface
Name[pt_BR]=wpa_supplicant user interface
Name[ro]=wpa_supplicant user interface
Name[ru]=wpa_supplicant user interface
Name[sk]=wpa_supplicant user interface
Name[sq]=wpa_supplicant user interface
Name[sv]=wpa_supplicant user interface
Name[ta]=wpa_supplicant user interface
Name[th]=wpa_supplicant user interface
Name[tl]=wpa_supplicant user interface
Name[tr]=wpa_supplicant user interface
Name[uk]=wpa_supplicant user interface
Name[vi]=wpa_supplicant user interface
Name[wo]=wpa_supplicant user interface
Name[zh_CN]=wpa_supplicant user interface
Name[zh_TW]=wpa_supplicant user interface
Icon=/usr/share/pixmaps/wpa_gui.xpm
Exec=/usr/sbin/wpa_gui
Terminal=false
Categories=X-Debian-Applications-Network-Monitoring;
