[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Dillo
Name[ar]=Dillo
Name[ast]=Dillo
Name[be]=Dillo
Name[bg]=Dillo
Name[bn]=Dillo
Name[br]=Dillo
Name[bs]=Dillo
Name[ca]=Dillo
Name[cs]=Dillo
Name[da]=Dillo
Name[de]=Dillo
Name[dz]=Dillo
Name[el]=Dillo
Name[eo]=Dillo
Name[es]=Dillo
Name[et]=Dillo
Name[eu]=Dillo
Name[fi]=Dillo
Name[fr]=Dillo
Name[ga]=Dillo
Name[gl]=Dillo
Name[gu]=Dillo
Name[he]=Dillo
Name[hi]=Dillo
Name[hr]=Dillo
Name[hu]=Dillo
Name[id]=Dillo
Name[it]=Dillo
Name[ja]=Dillo
Name[ka]=Dillo
Name[kk]=Dillo
Name[km]=Dillo
Name[ko]=Dillo
Name[ku]=Dillo
Name[lt]=Dillo
Name[mk]=Dillo
Name[ml]=Dillo
Name[mr]=Dillo
Name[nb]=Dillo
Name[ne]=Dillo
Name[nl]=Dillo
Name[nn]=Dillo
Name[pa]=Dillo
Name[pl]=Dillo
Name[pt]=Dillo
Name[pt_BR]=Dillo
Name[ro]=Dillo
Name[ru]=Dillo
Name[sk]=Dillo
Name[sq]=Dillo
Name[sv]=Dillo
Name[ta]=Dillo
Name[th]=Dillo
Name[tl]=Dillo
Name[tr]=Dillo
Name[uk]=Dillo
Name[vi]=Dillo
Name[wo]=Dillo
Name[zh_CN]=Dillo
Name[zh_TW]=Dillo
Icon=/usr/share/pixmaps/dillo.xpm
Exec=/usr/bin/dillo
Terminal=false
Categories=X-Debian-Applications-Network-Web-Browsing;
