[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Midori
Name[ar]=Midori
Name[ast]=Midori
Name[be]=Midori
Name[bg]=Midori
Name[bn]=Midori
Name[br]=Midori
Name[bs]=Midori
Name[ca]=Midori
Name[cs]=Midori
Name[da]=Midori
Name[de]=Midori
Name[dz]=Midori
Name[el]=Midori
Name[eo]=Midori
Name[es]=Midori
Name[et]=Midori
Name[eu]=Midori
Name[fi]=Midori
Name[fr]=Midori
Name[ga]=Midori
Name[gl]=Midori
Name[gu]=Midori
Name[he]=Midori
Name[hi]=Midori
Name[hr]=Midori
Name[hu]=Midori
Name[id]=Midori
Name[it]=Midori
Name[ja]=Midori
Name[ka]=Midori
Name[kk]=Midori
Name[km]=Midori
Name[ko]=Midori
Name[ku]=Midori
Name[lt]=Midori
Name[mk]=Midori
Name[ml]=Midori
Name[mr]=Midori
Name[nb]=Midori
Name[ne]=Midori
Name[nl]=Midori
Name[nn]=Midori
Name[pa]=Midori
Name[pl]=Midori
Name[pt]=Midori
Name[pt_BR]=Midori
Name[ro]=Midori
Name[ru]=Midori
Name[sk]=Midori
Name[sq]=Midori
Name[sv]=Midori
Name[ta]=Midori
Name[th]=Midori
Name[tl]=Midori
Name[tr]=Midori
Name[uk]=Midori
Name[vi]=Midori
Name[wo]=Midori
Name[zh_CN]=Midori
Name[zh_TW]=Midori
Exec=midori
Terminal=false
Categories=X-Debian-Applications-Network-Web-Browsing;
