[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Aptitude Package Manager (text)
Name[ar]=Aptitude Package Manager (text)
Name[ast]=Aptitude Package Manager (text)
Name[be]=Aptitude Package Manager (text)
Name[bg]=Aptitude Package Manager (text)
Name[bn]=Aptitude Package Manager (text)
Name[br]=Aptitude Package Manager (text)
Name[bs]=Aptitude Package Manager (text)
Name[ca]=Aptitude Package Manager (text)
Name[cs]=Aptitude Package Manager (text)
Name[da]=Aptitude Package Manager (text)
Name[de]=Aptitude Package Manager (text)
Name[dz]=Aptitude Package Manager (text)
Name[el]=Aptitude Package Manager (text)
Name[eo]=Aptitude Package Manager (text)
Name[es]=Aptitude Package Manager (text)
Name[et]=Aptitude Package Manager (text)
Name[eu]=Aptitude Package Manager (text)
Name[fi]=Aptitude Package Manager (text)
Name[fr]=Aptitude Package Manager (text)
Name[ga]=Aptitude Package Manager (text)
Name[gl]=Aptitude Package Manager (text)
Name[gu]=Aptitude Package Manager (text)
Name[he]=Aptitude Package Manager (text)
Name[hi]=Aptitude Package Manager (text)
Name[hr]=Aptitude Package Manager (text)
Name[hu]=Aptitude Package Manager (text)
Name[id]=Aptitude Package Manager (text)
Name[it]=Aptitude Package Manager (text)
Name[ja]=Aptitude Package Manager (text)
Name[ka]=Aptitude Package Manager (text)
Name[kk]=Aptitude Package Manager (text)
Name[km]=Aptitude Package Manager (text)
Name[ko]=Aptitude Package Manager (text)
Name[ku]=Aptitude Package Manager (text)
Name[lt]=Aptitude Package Manager (text)
Name[mk]=Aptitude Package Manager (text)
Name[ml]=Aptitude Package Manager (text)
Name[mr]=Aptitude Package Manager (text)
Name[nb]=Aptitude Package Manager (text)
Name[ne]=Aptitude Package Manager (text)
Name[nl]=Aptitude Package Manager (text)
Name[nn]=Aptitude Package Manager (text)
Name[pa]=Aptitude Package Manager (text)
Name[pl]=Aptitude Package Manager (text)
Name[pt]=Aptitude Package Manager (text)
Name[pt_BR]=Aptitude Package Manager (text)
Name[ro]=Aptitude Package Manager (text)
Name[ru]=Aptitude Package Manager (text)
Name[sk]=Aptitude Package Manager (text)
Name[sq]=Aptitude Package Manager (text)
Name[sv]=Aptitude Package Manager (text)
Name[ta]=Aptitude Package Manager (text)
Name[th]=Aptitude Package Manager (text)
Name[tl]=Aptitude Package Manager (text)
Name[tr]=Aptitude Package Manager (text)
Name[uk]=Aptitude Package Manager (text)
Name[vi]=Aptitude Package Manager (text)
Name[wo]=Aptitude Package Manager (text)
Name[zh_CN]=Aptitude Package Manager (text)
Name[zh_TW]=Aptitude Package Manager (text)
Exec=/usr/bin/aptitude-curses
Terminal=true
Categories=X-Debian-Applications-System-Package-Management;
