[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LXTask
Name[ar]=LXTask
Name[ast]=LXTask
Name[be]=LXTask
Name[bg]=LXTask
Name[bn]=LXTask
Name[br]=LXTask
Name[bs]=LXTask
Name[ca]=LXTask
Name[cs]=LXTask
Name[da]=LXTask
Name[de]=LXTask
Name[dz]=LXTask
Name[el]=LXTask
Name[eo]=LXTask
Name[es]=LXTask
Name[et]=LXTask
Name[eu]=LXTask
Name[fi]=LXTask
Name[fr]=LXTask
Name[ga]=LXTask
Name[gl]=LXTask
Name[gu]=LXTask
Name[he]=LXTask
Name[hi]=LXTask
Name[hr]=LXTask
Name[hu]=LXTask
Name[id]=LXTask
Name[it]=LXTask
Name[ja]=LXTask
Name[ka]=LXTask
Name[kk]=LXTask
Name[km]=LXTask
Name[ko]=LXTask
Name[ku]=LXTask
Name[lt]=LXTask
Name[mk]=LXTask
Name[ml]=LXTask
Name[mr]=LXTask
Name[nb]=LXTask
Name[ne]=LXTask
Name[nl]=LXTask
Name[nn]=LXTask
Name[pa]=LXTask
Name[pl]=LXTask
Name[pt]=LXTask
Name[pt_BR]=LXTask
Name[ro]=LXTask
Name[ru]=LXTask
Name[sk]=LXTask
Name[sq]=LXTask
Name[sv]=LXTask
Name[ta]=LXTask
Name[th]=LXTask
Name[tl]=LXTask
Name[tr]=LXTask
Name[uk]=LXTask
Name[vi]=LXTask
Name[wo]=LXTask
Name[zh_CN]=LXTask
Name[zh_TW]=LXTask
Comment=LXDE task manager
Comment[ar]=LXDE task manager
Comment[ast]=LXDE task manager
Comment[be]=LXDE task manager
Comment[bg]=LXDE task manager
Comment[bn]=LXDE task manager
Comment[br]=LXDE task manager
Comment[bs]=LXDE task manager
Comment[ca]=LXDE task manager
Comment[cs]=LXDE task manager
Comment[da]=LXDE task manager
Comment[de]=LXDE task manager
Comment[dz]=LXDE task manager
Comment[el]=LXDE task manager
Comment[eo]=LXDE task manager
Comment[es]=LXDE task manager
Comment[et]=LXDE task manager
Comment[eu]=LXDE task manager
Comment[fi]=LXDE task manager
Comment[fr]=LXDE task manager
Comment[ga]=LXDE task manager
Comment[gl]=LXDE task manager
Comment[gu]=LXDE task manager
Comment[he]=LXDE task manager
Comment[hi]=LXDE task manager
Comment[hr]=LXDE task manager
Comment[hu]=LXDE task manager
Comment[id]=LXDE task manager
Comment[it]=LXDE task manager
Comment[ja]=LXDE task manager
Comment[ka]=LXDE task manager
Comment[kk]=LXDE task manager
Comment[km]=LXDE task manager
Comment[ko]=LXDE task manager
Comment[ku]=LXDE task manager
Comment[lt]=LXDE task manager
Comment[mk]=LXDE task manager
Comment[ml]=LXDE task manager
Comment[mr]=LXDE task manager
Comment[nb]=LXDE task manager
Comment[ne]=LXDE task manager
Comment[nl]=LXDE task manager
Comment[nn]=LXDE task manager
Comment[pa]=LXDE task manager
Comment[pl]=LXDE task manager
Comment[pt]=LXDE task manager
Comment[pt_BR]=LXDE task manager
Comment[ro]=LXDE task manager
Comment[ru]=LXDE task manager
Comment[sk]=LXDE task manager
Comment[sq]=LXDE task manager
Comment[sv]=LXDE task manager
Comment[ta]=LXDE task manager
Comment[th]=LXDE task manager
Comment[tl]=LXDE task manager
Comment[tr]=LXDE task manager
Comment[uk]=LXDE task manager
Comment[vi]=LXDE task manager
Comment[wo]=LXDE task manager
Comment[zh_CN]=LXDE task manager
Comment[zh_TW]=LXDE task manager
Exec=/usr/bin/lxtask
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
