[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sonic Pi
Name[ar]=Sonic Pi
Name[ast]=Sonic Pi
Name[be]=Sonic Pi
Name[bg]=Sonic Pi
Name[bn]=Sonic Pi
Name[br]=Sonic Pi
Name[bs]=Sonic Pi
Name[ca]=Sonic Pi
Name[cs]=Sonic Pi
Name[da]=Sonic Pi
Name[de]=Sonic Pi
Name[dz]=Sonic Pi
Name[el]=Sonic Pi
Name[eo]=Sonic Pi
Name[es]=Sonic Pi
Name[et]=Sonic Pi
Name[eu]=Sonic Pi
Name[fi]=Sonic Pi
Name[fr]=Sonic Pi
Name[ga]=Sonic Pi
Name[gl]=Sonic Pi
Name[gu]=Sonic Pi
Name[he]=Sonic Pi
Name[hi]=Sonic Pi
Name[hr]=Sonic Pi
Name[hu]=Sonic Pi
Name[id]=Sonic Pi
Name[it]=Sonic Pi
Name[ja]=Sonic Pi
Name[ka]=Sonic Pi
Name[kk]=Sonic Pi
Name[km]=Sonic Pi
Name[ko]=Sonic Pi
Name[ku]=Sonic Pi
Name[lt]=Sonic Pi
Name[mk]=Sonic Pi
Name[ml]=Sonic Pi
Name[mr]=Sonic Pi
Name[nb]=Sonic Pi
Name[ne]=Sonic Pi
Name[nl]=Sonic Pi
Name[nn]=Sonic Pi
Name[pa]=Sonic Pi
Name[pl]=Sonic Pi
Name[pt]=Sonic Pi
Name[pt_BR]=Sonic Pi
Name[ro]=Sonic Pi
Name[ru]=Sonic Pi
Name[sk]=Sonic Pi
Name[sq]=Sonic Pi
Name[sv]=Sonic Pi
Name[ta]=Sonic Pi
Name[th]=Sonic Pi
Name[tl]=Sonic Pi
Name[tr]=Sonic Pi
Name[uk]=Sonic Pi
Name[vi]=Sonic Pi
Name[wo]=Sonic Pi
Name[zh_CN]=Sonic Pi
Name[zh_TW]=Sonic Pi
Comment=Learn to program with music
Comment[ar]=Learn to program with music
Comment[ast]=Learn to program with music
Comment[be]=Learn to program with music
Comment[bg]=Learn to program with music
Comment[bn]=Learn to program with music
Comment[br]=Learn to program with music
Comment[bs]=Learn to program with music
Comment[ca]=Learn to program with music
Comment[cs]=Learn to program with music
Comment[da]=Learn to program with music
Comment[de]=Learn to program with music
Comment[dz]=Learn to program with music
Comment[el]=Learn to program with music
Comment[eo]=Learn to program with music
Comment[es]=Learn to program with music
Comment[et]=Learn to program with music
Comment[eu]=Learn to program with music
Comment[fi]=Learn to program with music
Comment[fr]=Learn to program with music
Comment[ga]=Learn to program with music
Comment[gl]=Learn to program with music
Comment[gu]=Learn to program with music
Comment[he]=Learn to program with music
Comment[hi]=Learn to program with music
Comment[hr]=Learn to program with music
Comment[hu]=Learn to program with music
Comment[id]=Learn to program with music
Comment[it]=Learn to program with music
Comment[ja]=Learn to program with music
Comment[ka]=Learn to program with music
Comment[kk]=Learn to program with music
Comment[km]=Learn to program with music
Comment[ko]=Learn to program with music
Comment[ku]=Learn to program with music
Comment[lt]=Learn to program with music
Comment[mk]=Learn to program with music
Comment[ml]=Learn to program with music
Comment[mr]=Learn to program with music
Comment[nb]=Learn to program with music
Comment[ne]=Learn to program with music
Comment[nl]=Learn to program with music
Comment[nn]=Learn to program with music
Comment[pa]=Learn to program with music
Comment[pl]=Learn to program with music
Comment[pt]=Learn to program with music
Comment[pt_BR]=Learn to program with music
Comment[ro]=Learn to program with music
Comment[ru]=Learn to program with music
Comment[sk]=Learn to program with music
Comment[sq]=Learn to program with music
Comment[sv]=Learn to program with music
Comment[ta]=Learn to program with music
Comment[th]=Learn to program with music
Comment[tl]=Learn to program with music
Comment[tr]=Learn to program with music
Comment[uk]=Learn to program with music
Comment[vi]=Learn to program with music
Comment[wo]=Learn to program with music
Comment[zh_CN]=Learn to program with music
Comment[zh_TW]=Learn to program with music
Icon=/usr/share/pixmaps/sonic-pi.png
Exec=/usr/bin/sonic-pi
Terminal=false
Categories=X-Debian-Education;
