[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=JACK Control
Name[ar]=JACK Control
Name[ast]=JACK Control
Name[be]=JACK Control
Name[bg]=JACK Control
Name[bn]=JACK Control
Name[br]=JACK Control
Name[bs]=JACK Control
Name[ca]=JACK Control
Name[cs]=JACK Control
Name[da]=JACK Control
Name[de]=JACK Control
Name[dz]=JACK Control
Name[el]=JACK Control
Name[eo]=JACK Control
Name[es]=JACK Control
Name[et]=JACK Control
Name[eu]=JACK Control
Name[fi]=JACK Control
Name[fr]=JACK Control
Name[ga]=JACK Control
Name[gl]=JACK Control
Name[gu]=JACK Control
Name[he]=JACK Control
Name[hi]=JACK Control
Name[hr]=JACK Control
Name[hu]=JACK Control
Name[id]=JACK Control
Name[it]=JACK Control
Name[ja]=JACK Control
Name[ka]=JACK Control
Name[kk]=JACK Control
Name[km]=JACK Control
Name[ko]=JACK Control
Name[ku]=JACK Control
Name[lt]=JACK Control
Name[mk]=JACK Control
Name[ml]=JACK Control
Name[mr]=JACK Control
Name[nb]=JACK Control
Name[ne]=JACK Control
Name[nl]=JACK Control
Name[nn]=JACK Control
Name[pa]=JACK Control
Name[pl]=JACK Control
Name[pt]=JACK Control
Name[pt_BR]=JACK Control
Name[ro]=JACK Control
Name[ru]=JACK Control
Name[sk]=JACK Control
Name[sq]=JACK Control
Name[sv]=JACK Control
Name[ta]=JACK Control
Name[th]=JACK Control
Name[tl]=JACK Control
Name[tr]=JACK Control
Name[uk]=JACK Control
Name[vi]=JACK Control
Name[wo]=JACK Control
Name[zh_CN]=JACK Control
Name[zh_TW]=JACK Control
Icon=/usr/share/pixmaps/qjackctl.xpm
Exec=/usr/bin/qjackctl
Terminal=false
Categories=X-Debian-Applications-Sound;
