[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=IDLE (Python v3.2)
Name[ar]=IDLE (Python v3.2)
Name[ast]=IDLE (Python v3.2)
Name[be]=IDLE (Python v3.2)
Name[bg]=IDLE (Python v3.2)
Name[bn]=IDLE (Python v3.2)
Name[br]=IDLE (Python v3.2)
Name[bs]=IDLE (Python v3.2)
Name[ca]=IDLE (Python v3.2)
Name[cs]=IDLE (Python v3.2)
Name[da]=IDLE (Python v3.2)
Name[de]=IDLE (Python v3.2)
Name[dz]=IDLE (Python v3.2)
Name[el]=IDLE (Python v3.2)
Name[eo]=IDLE (Python v3.2)
Name[es]=IDLE (Python v3.2)
Name[et]=IDLE (Python v3.2)
Name[eu]=IDLE (Python v3.2)
Name[fi]=IDLE (Python v3.2)
Name[fr]=IDLE (Python v3.2)
Name[ga]=IDLE (Python v3.2)
Name[gl]=IDLE (Python v3.2)
Name[gu]=IDLE (Python v3.2)
Name[he]=IDLE (Python v3.2)
Name[hi]=IDLE (Python v3.2)
Name[hr]=IDLE (Python v3.2)
Name[hu]=IDLE (Python v3.2)
Name[id]=IDLE (Python v3.2)
Name[it]=IDLE (Python v3.2)
Name[ja]=IDLE (Python v3.2)
Name[ka]=IDLE (Python v3.2)
Name[kk]=IDLE (Python v3.2)
Name[km]=IDLE (Python v3.2)
Name[ko]=IDLE (Python v3.2)
Name[ku]=IDLE (Python v3.2)
Name[lt]=IDLE (Python v3.2)
Name[mk]=IDLE (Python v3.2)
Name[ml]=IDLE (Python v3.2)
Name[mr]=IDLE (Python v3.2)
Name[nb]=IDLE (Python v3.2)
Name[ne]=IDLE (Python v3.2)
Name[nl]=IDLE (Python v3.2)
Name[nn]=IDLE (Python v3.2)
Name[pa]=IDLE (Python v3.2)
Name[pl]=IDLE (Python v3.2)
Name[pt]=IDLE (Python v3.2)
Name[pt_BR]=IDLE (Python v3.2)
Name[ro]=IDLE (Python v3.2)
Name[ru]=IDLE (Python v3.2)
Name[sk]=IDLE (Python v3.2)
Name[sq]=IDLE (Python v3.2)
Name[sv]=IDLE (Python v3.2)
Name[ta]=IDLE (Python v3.2)
Name[th]=IDLE (Python v3.2)
Name[tl]=IDLE (Python v3.2)
Name[tr]=IDLE (Python v3.2)
Name[uk]=IDLE (Python v3.2)
Name[vi]=IDLE (Python v3.2)
Name[wo]=IDLE (Python v3.2)
Name[zh_CN]=IDLE (Python v3.2)
Name[zh_TW]=IDLE (Python v3.2)
Icon=/usr/share/pixmaps/python3.2.xpm
Exec=/usr/bin/idle-python3.2
Terminal=false
Categories=X-Debian-Applications-Programming;
