[Desktop Entry]
Name=Python (v3.2)
Comment=Python Interpreter (v3.2)
Exec=/usr/bin/python3.2
Icon=/usr/share/pixmaps/python3.2.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
